body,html,div,p,ul,li,ol,dl,dt,dd,img,a,h1,h2,h3,h4,h5,h6{margin: 0;padding: 0;}
ul,li,dl,dt,dd{list-style: none;}
a{text-decoration: none;outline: none;}
a:hover,a:focus{text-decoration: none;outline: none;border:none;}
a:visited {text-decoration: none;}
img{border:0;}
body,html{font-family: "SingleMaltaRegular Regular","微软雅黑";background: #fff;}
input,textarea{font-family: "SingleMaltaRegular Regular","微软雅黑";font-size: 14px;color: #666}
input:focus, input:active:focus{outline: none}
i,em{font-style: normal}


@font-face {
  font-family: 'SingleMaltaRegular Regular';
  src: url('../fonts/_-webfont.eot');
  src: url('../fonts/_-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/_-webfont.woff') format('woff'),
   url('../fonts/_-webfont.ttf') format('truetype'),
   url('../fonts/_-webfont.svg#SingleMaltaRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.styled-select {
    background: #fff url("../img/selectBg.png") no-repeat scroll 95% center;border: 1px solid #dcdcdc;border-radius: 3px;
    display: inline-block;float: left;font-size: 14px;height: 34px;margin-bottom: 10px;margin-right: 15px;
    overflow: hidden;vertical-align: middle;width: 180px;}

.styled-select select {
    background: transparent none repeat scroll 0 0; border: medium none; font-size: 14px; height: 34px; 
    line-height: 25px; padding: 5px; width: 240px;}

.maxSelect{width: 574px}
.maxSelect select{width: 600px}

.regular-checkbox:checked + label::after{top: -2px!important;}

.hide{display: none;}
.pullLeft{float: left;}
.pullRight{float: right;}
.textLeft{text-align: left!important}
.noFloat{float: none;}

.wrap{width: 950px;margin: 0 auto;}
.designWrap{width:1090px;margin:0 auto;overflow: hidden;padding-bottom: 50px;}
a.btnSewt:hover{background: #ffcf5e}

/*header*/
.header .topBar{height: 78px;line-height: 78px;overflow: hidden;width: 950px;margin: 0 auto;}
.header .topBar a{color: #000000;font-size: 15px;}
.header .topBar .leftInfo{float: left;}
.header .topBar .rightInfo{float: right;}
.header .topBar .leftInfo em{color: #b2b2b2;margin: 0 10px 0 14px;font-size: 12px;}
.header .topBar .rightInfo em{color: #424242;margin: 0 5px 0 9px;}
.header .topBar .rightInfo i{font-size: 18px;color: #3f3f3f}
.header .topBar .rightInfo i.user{margin-right: 5px;font-size: 20px;}
.header .topBar .rightInfo i.message{margin-right: 12px;margin-left: 20px;position: relative;}
.header .topBar .rightInfo .newMsg{display: inline-block;width: 10px;height: 10px;background: #b02441;border-radius: 100%;position: absolute;
	right: -3px;top: 1px;}


/*nav*/
.header .nav{overflow: hidden;background: #231f20;width: 100%;height: 75px;line-height: 75px;}
.nav .logo,.nav .navList{float: left;}

.header .nav .con{width: 950px;margin: 0 auto;}
.nav .navList{margin-left: 73px;}
.nav .navList ul li{float: left;}
.nav .navList ul li a{color: #fff;font-size: 20px;display: inline-block;padding: 0 25px;border-bottom: 3px solid #231f20;
	height: 72px;}
.nav .navList ul li a.active{color: #ffc641;border-color: #ffc641;}
.nav .navList ul li a:hover{color: #ffc641}
.nav .rightSearch{float: right;height: 36px;width: 215px;margin-top: 20px;}
.nav .rightSearch .inp{width: 130px;width: 163px;height: 36px;background: none;border:none;color: #eee;float: left;line-height: 40px;
  background: #383637;padding: 0 10px;margin-right: 10px;}
.nav .rightSearch .sub{width: 36px;height: 36px;float: left;background: url(../img/indexSearch.png) no-repeat center center;border:none;cursor: pointer;}


/*footer*/
.footer{background: #231f20;width: 100%;clear: both;overflow: hidden;padding-top: 52px;padding-bottom: 130px;}
.footer dl{float: left;height: 300px;border-bottom: 1px solid #5f5d5d}
.footer .copyRight{clear: both;font-size: 12px;color: #535353;padding-top: 37px;}
.footer dl dt span{display: inline-block;font-size: 15px;color: #fff;border-top: 2px solid #faaf40;padding-top: 25px;}
.footer .user,.footer .help{float: left;}
.footer .user{width: 280px;margin-right: 50px;}
.footer dl dt{margin-bottom: 27px;}
.footer .user dl dd a{display: inline-block;width: 270px;height: 38px;border:1px solid #666666;line-height: 38px;text-align: center;
  font-size: 13px;color: #666666;border-radius: 25px;margin-top: 20px;}

.footer .help dl{width: 160px;}
.footer .help dl dd a{font-size: 15px;color: #fff;line-height: 32px;}
.footer .help dl dd a:hover{color:#faaf40}
.footer .help dl:nth-of-type(3){padding-left: 38px;width: 110px;}
.footer .help dl:nth-of-type(4){padding-left: 80px;width: 60px;}

/*翻页*/
.page{font-size: 12px;margin-bottom: 10px;margin-top: 22px;overflow: hidden;}
.page a{color: #777777;display: inline-block;padding: 6px 10px 5px;border: 1px solid #dddddd;float: left;border-left: 0;}
.page a:hover,.page a:focus{background: #f4f4f4;color: #777777;}
.page .previous a{border-left: 1px solid #ddd;border-bottom-left-radius: 3px;border-top-left-radius: 3px;padding: 5px 10px 4px}
.page .next a{border-bottom-right-radius: 3px;border-top-right-radius: 3px;padding: 5px 10px 4px}
.page a:visited{color: #777777;}
.page a.active{background: #f4f4f4}











































































