/*index*/
.homeJoin{text-align: center;color: #231f20;padding: 40px 0 30px;font-size: 25px;}
.homeJoin h3{font-weight: normal;}
.homeJoin h4{font-weight: normal;margin-top: 20px;margin-bottom: 20px;}


.bestWorks{position: relative;}
.bestWorks .author{position: absolute;left: 32px;top: 27px;}
.bestWorks .authorPic,.bestWorks .authorInfo{float: left;}
.bestWorks .authorInfo{margin-left: 20px;font-size: 14px;color: #231f20}
.bestWorks .authorInfo .name{margin-top: 3px;color: #a2a2a2;font-size: 13px;}
.bestWorks .author .follow{clear: both;padding-top: 20px;}
.bestWorks .author .follow a{display: inline-block;font-size: 18px;color: #231f20;border:2px solid #231f20;width: 111px;height: 28px;
	border-radius: 35px;text-align: center;line-height: 29px;}

.bestWorks .buyNow{position: absolute;right: 44px;bottom: 44px;}
.bestWorks .buyNow h3{font-weight: normal;font-size: 30px;color: #231f20;text-align: center;}
.bestWorks .buyNow .buyBtn{text-align: center;}
.bestWorks .buyNow .buyBtn a{display: inline-block;background: #faaf40;padding: 0 20px;color: #fff;font-size: 16px;border-radius: 35px;	
	height: 32px;line-height: 32px;margin-top: 23px;}
.bestWorks .buyNow .buyBtn a:hover{background: #fcb54b}

.bestList{clear: both;overflow: hidden;}
.bestList li{margin-top: 10px;margin-right: 10px;float: left;overflow: hidden;position: relative;height: 308px;}
.bestList li a{color: #f7af40;font-size: 18px;}
.bestList li a:hover .hoverInfoBox{display: block;}
.bestList li:nth-child(3n){margin-right: 0}
.bestList li img{width: 310px;height: 308px;transition:1s;}
.bestList li:hover img{-webkit-transform:scale(1.2);-moz-transform:scale(1.2);transform:scale(1.2);}
.hoverInfoBox{position: absolute;left: 0;top: 0;width: 100%;height: 100%;background:rgba(0,0,0,0.5);text-align: center;}
.hoverInfoBox .con{width: 255px;height: 255px;border:2px solid #f7af40;margin-top: 22px;margin-left: 22px;}
.bestList li .con .name{margin-top: 75px;margin-bottom: 25px;}
.bestList li .con .name span{padding-bottom: 13px;border-bottom: 2px solid #dda34a}
.bestList li .price{font-size: 24px;}


.homeTit{margin: 10px  0;height: 75px;line-height: 75px;background: #f7af40;color: #000000;font-size: 25px;clear: both;
	padding: 0 25px;text-align: center;font-style: italic;}
.homeTit .rightBtn{display: inline-block;float: right;color: #fff;padding: 10px 15px;border:2px solid #fff;border-radius: 5px;
	line-height: 19px;margin-top: 17px;}

.weekTopic{position: relative;}
.weekTopic .text{display: inline-block;padding: 5px 32px 8px 32px;border:2px solid #fff;position: absolute;left: 39%;top: 36%;font-size: 30px;
	color: #fff;}
.weekTopic a{display: inline-block;}

.worksList{clear: both;overflow: hidden;}
.worksList img{float: left;}

.custom{overflow: hidden;padding-bottom: 30px;}
.custom ul li{float: left;margin:5px;}
.custom ul li img{width: 307px;}
.custom ul li:nth-of-type(3n){margin-right: 0}
.custom ul li:hover{box-shadow: 0 0 10px #eee;}
.custom .customPic{margin-bottom: 10px;}

/*login register finPsw*/
.homeForm{text-align: center;}
.homeForm .con{width: 300px;margin: 0 auto;}
.homeForm h3{font-size: 25px;color: #231f20;font-weight: normal;height: 76px;line-height: 88px;}
.homeForm p.tips{font-size: 14px;color: #959494;margin-bottom: 20px;}
.homeForm .formline{position: relative;}
.homeForm .formline input{font-size: 14px;height: 52px;line-height: 52px;width: 100%;border:none;border-bottom: 2px solid #231f20}
.homeForm .formline input:focus{border-color:#ffc641}
.homeForm .formBtn input{height: 47px;background: #ffc641;width: 100%;border-radius: 3px;border:none;font-size: 18px;color: #000000;
	cursor: pointer;}
.homeForm .agree{width: 225px;margin:20px 0 0 20px;font-size: 14px;color: #231f20;text-align: left;}
.homeForm .agree .agreeCheck{float: left;margin-top: 10px;margin-right: 10px;}
.homeForm .agree a{color: #2887e2;text-decoration: underline;}
.homeForm .formBtn{margin-top: 20px;}
.homeForm .forgetPsw{font-weight: 14px;color: #231f20;margin-top: 22px;}
.homeForm .forgetPsw a{color: #2887e2;text-decoration: underline;}
.homeForm .formline .getVerCode{display: inline-block;padding: 4px 10px;background: #eac85c;font-size: 12px;color: #231f20;border-radius: 10px;
	position: absolute;right: 0;bottom: 13px;}


/*contribute 投稿*/
.contributeTit{height: 84px;line-height: 84px;border-bottom: 2px solid #231f20;margin-top: 10px;font-size: 25px;color: #231f20;margin-bottom: 27px;}
.contributeTit .downloadBtn{display: inline-block;padding: 8px 35px;border:2px solid #2887e1;border-radius: 35px;line-height: 17px;
	float: right;font-size: 18px;color: #2887e1;margin-top: 27px;}
.contributeTit .more{border-color: #231f20;color: #231f20;margin-left: 10px;}
.contributeTit .author{color: #2887e1;margin-left: 20px;}
.productDetails .contributeTit{font-size: 18px;height: 60px;line-height: 60px;margin-bottom: 15px;}
.longTheme{overflow: hidden;}
.longTheme .longTheme{float: left;}
.longTheme .themeInfo{float: right;width: 373px;}
.longTheme .themeInfo .info{padding: 32px 0 20px;border-bottom: 1px dotted #e4e4e4;overflow: hidden;}
.longTheme .themeInfo .info .text{float: left;}
.longTheme .themeInfo .info .icon{float: right;}
.longTheme .themeInfo .text .miniTit{font-size: 18px;color: #666464}
.longTheme .themeInfo .text .miniInfo{font-size: 26px;color: #231f20;margin-top: 8px;}
.longTheme .themeInfo .info:last-child{border:none;}
.longTheme .themeInfo .contributeBtn a{display: inline-block;height: 50px;line-height: 50px;text-align: center;background: #ffc641;
	width: 100%;margin-top: 58px;font-size: 18px;color: #231f20;border-radius: 3px;}
.longTheme .themeInfo .contributeBtn a:hover{background: #ffd167}

.thisTheme{overflow: hidden;}
.thisTheme .left,.thisTheme .right{float: left;width: 50%;margin-bottom: 25px;}
.thisTheme .pic,.thisTheme .info{float: left;}
.thisTheme .pic{margin-right: 25px;}
.thisTheme dl dt,.thisTheme dl dd{margin-bottom: 26px;font-size: 15px;color: #231f20}
.thisTheme .btn a{display: inline-block;width: 140px;height: 37px;background: #ffc641;font-size: 15px;color: #231f20;border-radius: 3px;
	text-align: center;line-height: 37px;}
.thisTheme .btn a:hover{background: #ffd167}
.pastTheme{padding-bottom: 50px;overflow: hidden;}
.pastTheme ul li{float: left;margin-right: 7px;margin-bottom: 10px;overflow: hidden;}
.pastTheme ul li:nth-of-type(5n){margin-right: 0}
.pastTheme ul li img{width: 184px;height: 184px;float: left;transition:1s;}
.pastTheme ul li:hover img{-webkit-transform:scale(1.2);-moz-transform:scale(1.2);transform:scale(1.2);}
.pastTheme ul li{position: relative;}
.pastTheme ul li .infoBox{position: absolute;left: 0;top: 0;width: 224px;height: 113px;}
.pastTheme .hoverInfoBox .con{width: 106px;height: 30px;border:2px solid #ffc641;margin-left: 40px;margin-top: 73px;}
.pastTheme ul li a{color: #ffc641;font-size: 16px;}
.pastTheme ul li a:hover .hoverInfoBox{display: block;}
.pastTheme ul li .check{margin-top: 4px;font-size: 16px;}

/*contributeSub 提交投稿信息*/
.contributeSub h1{font-size: 25px;color: #231f20;font-weight: normal;padding: 17px 0 15px;padding-left: 70px;}
.contributeSub{padding: 0 50px;}
.contributeSub .con{border:2px solid #231f20;border-radius: 3px;padding: 25px 120px;width: 460px;margin: 0 auto;}
.contributeSub .con h2{font-size: 25px;color: #231f20;border-bottom: 2px solid #dddddf;padding:20px 0;text-align: center;
	font-weight: normal;}




/*contributeInfo 作品信息*/
.workInfo{margin-top: 22px;}
.workInfo .workInfoPic{margin-bottom: 20px;}
.workInfo .borderWrap{border:2px solid #231f20;border-radius: 3px;padding: 30px 25px;overflow: hidden;}
.workInfo .borderWrap .left,.workInfo .borderWrap .right,.workInfo .borderWrap .center{float: left;}
.workInfo .borderWrap .left{padding-right: 35px;}
.workInfo .borderWrap .right{padding-left: 35px;}
.workInfo .borderWrap .left,.workInfo .borderWrap .right{width: 294px;}
.workInfo h1{font-size: 25px;color: #231f20;text-align: center;font-weight: normal;margin-bottom: 30px;}
.workInfo .borderWrap h2{font-size: 18px;color: #231f20;font-weight: normal;padding-bottom: 25px;border-bottom: 1px solid #e0e0e0}
.workInfo .borderWrap h2 .icon{margin-right: 15px;}
.workInfo .borderWrap p{padding-top: 25px;font-size: 14px;color: #666464;line-height: 24px;}
.workInfo .borderWrap p a{font-size: 15px;color: #2887e1}
.workInfo .borderWrap .center{padding: 0 50px;border-left: 1px solid #dbdbdc;border-right: 1px solid #dbdbdc}
.workInfo .borderWrap .center a{display: inline-block;width: 84px;height: 64px;text-align: center;font-size: 18px;color: #231f20;	
	background: #ffc641;border:2px solid #ffc641;border-radius: 100%;padding-top: 20px;}
.workInfo .borderWrap .center a.sub{background: #e9eaec;border-color: #231f20}
.workInfo .borderWrap .center a.sub:hover{background: #f3f3f4;}
.workInfo .borderWrap .center a.download:hover{background: #fdcd5e;}

.workInfo .userInfo{width: 100%;overflow: hidden;padding-bottom: 50px;}
.workInfo .userInfo .leftUser,.workInfo .userInfo .rightUserInfo{float: left;}
.workInfo .userInfo .leftUser{width: 460px;}
.workInfo .userInfo .rightUserInfo{width: 470px;padding-left: 20px;}
.workInfo .rightUserInfo h4{padding-bottom: 22px;border-bottom: 2px solid #231f20;overflow: hidden;padding-top: 40px;font-weight: normal;} 
.workInfo .rightUserInfo h4 .name{display: inline-block;width: 154px;height: 42px;background: #ffc641;border-radius: 35px;
	color: #231f20;font-size: 18px;text-align: center;line-height: 42px;float: right;margin-top: -15px;}
.workInfo .rightUserInfo p{margin-top: 30px;font-size: 14px;color: #666464;line-height: 22px;}

.workInfo .pastTheme{padding-bottom: 15px}

.contributeSub .con{margin-bottom: 50px;}
.contributeSub .con .line .tit{font-size: 14px;color: #231f20;margin-bottom: 16px;margin-top: 22px;}
.contributeSub .con .line .tips{font-size: 14px;color: #666464;margin-bottom: 20px;}
.contributeSub .con .line .inp{padding: 10px;border:1px solid #d3d2d2;border-radius: 3px;width: 100%}
.contributeSub .con .line .fileBtn{position: relative;height: 50px;width: 100%;}
.contributeSub .con .line .fileBtn span{position: absolute;height: 50px;background: #ffc641;font-size: 18px;color: #231f20;line-height: 50px;
	text-align: center;left: 0;top: 0;width: 100%;border-radius: 3px;}
.contributeSub .con .line .fileBtn input{position: absolute;z-index: 9999;width: 100%;height: 50px;opacity: 0;filter:alpha(opacity=0);cursor: pointer;}
.contributeSub .con .agree{padding: 15px 0;font-size: 14px;color: #231f20}
.contributeSub .con .agree a{color: #2887e2}
.contributeSub .con .agree .agreeCheck{float: left;margin-right: 8px;}
.contributeSub .con .line .sub{height: 50px;background: #ffc641;font-size: 18px;color: #231f20;width: 100%;border:0;border-radius: 3px;
	cursor: pointer;margin-top: 10px;}
.contributeSub .con .line .sub:hover{background: #fece5f}


/*subSuccess投稿成功*/
.subSuccessTop{text-align: center;padding: 60px 0;border-bottom: 2px solid #e9eaec}
.subSuccessTop .successIcon{display: inline-block;width: 174px;height: 160px;border:2px dashed #dadadb;padding-top: 14px;
	border-radius: 3px;}
.subSuccessTop .successIcon p{margin-top: 15px;color: #231f20;font-size: 25px;}
.subSuccessTop .goOrder a{display: inline-block;font-size: 15px;color: #000000;margin-top: 30px;background: #ffc641;border-radius: 3px;
	padding: 15px 45px;}

.recommend .recommendTit{padding: 20px 0 10px;font-size: 18px;overflow: hidden;}
.recommend .recommendTit .name{float: left;}
.recommend .recommendTit .name i{font-size: 22px;vertical-align: middle;margin-right: 3px;}
.recommend .recommendTit .user{float: right;}
.recommend .recommendTit .user .icon,.recommend .recommendTit .user .text{float: left;}
.recommend .recommendTit .user .userName{color: #2887e1;font-size: 15px;}
.recommend .borderWrap{border:2px solid #231f20;border-radius: 3px;padding: 35px 43px; }
.recommend .borderWrap img{width: 861px;}
.recommend .recommendTit .user .icon{margin-top: 5px;margin-right: 5px;}
.recommend .recommendTit .user .icon i{font-size: 24px;vertical-align: middle;}

.yourDesign .tit{font-size: 18px;padding: 18px 0;color: #231f20;border-bottom: 1px solid #e9eaec;margin-bottom: 30px;}
.yourDesign .leftInfo{float: left;width: 560px;margin-bottom: 50px;}
.yourDesign .continue{float: right;}
.yourDesign .leftInfo .userIcon,.yourDesign .leftInfo .text{float: left;}
.yourDesign .leftInfo .userIcon{margin-right: 25px;}
.userPic{border:2px solid #231f20;border-radius: 100%;}
.yourDesign .leftInfo .text{width: 435px;}
.yourDesign .leftInfo .text .name{font-size: 20px;color: #2887e1;margin-right: 15px;}
.yourDesign .leftInfo .text p{color: #666464;font-size: 14px;line-height: 26px;}
.yourDesign .leftInfo .text .time{margin-bottom: 20px;}
.yourDesign .continue a{display: inline-block;padding: 6px 25px;background: #ffc641;border-radius: 25px;color: #231f20;font-size: 18px;
	margin-top: 40px;}
.yourDesign .continue a:hover{background: #ffcf5e}



/*pastTheme往期主题*/
.pastTheme{margin-top:22px;}
.pastTheme h1{font-size: 22px;color: #231f20;text-align: center;font-weight: normal;height: 74px;line-height: 74px;}
.pastTheme .imgSet{width: 950px;}
.pastTheme  .pastImgCon{position: relative;}
.pastTheme  .pastImgCon .buyBtn{position: absolute;right: 30px;bottom: 50px;}
.pastTheme .buyBtn{float: right;padding: 7px 40px;background: #ffc641;border-radius: 35px;display: inline-block;font-size: 18px;
	color: #231f20;margin-top: 20px;margin-bottom: 20px;}
.pastTheme .buyBtn:hover{background: #ffcf5e}

.pastInfo{border-bottom: 2px solid #656262;clear: both;margin-bottom: 20px;}
.pastInfo{overflow: hidden;}
.pastInfo .top,.pastInfo .bot{overflow: hidden;padding: 30px 0 20px 0}
.pastInfo .left{float: left;width: 440px;}
.pastInfo .right{float: right;width: 345px;}
.pastInfo .right .linkSet a{font-size: 14px;color: #2887e1;margin-left: 10px;}
.pastInfo .contributeNow .contributeBtn{display: inline-block;line-height: 40px;background: #ffc641;padding: 0 30px;border-radius: 3px;
	color: #000000;margin-top: 10px;}
.pastInfo .contributeNow .downloadBtn{font-size: 18px;color: #2887e1;margin-left: 10px;text-decoration: underline;}
.pastInfo .top h3{font-size: 18px;color: #000000;font-weight: normal;}
.pastInfo .top p{font-size: 15px;color: #585858;margin-top: 10px;line-height: 24px;}
.pastInfo .bot{border-top: 2px solid #656262;}
.pastInfo .img{border:2px solid #231f20;border-radius: 100%;}

.pastInfo .bot .userIcon{margin-right: 20px;}
.pastInfo .bot .left h4{font-size: 18px;color: #2887e1;font-weight: normal;margin-bottom: 8px;}
.pastInfo .bot .left h4{font-size: 18px;color: #2887e1;font-weight: normal;margin-bottom: 8px;}
.pastInfo .bot .praise{font-size: 18px;color: #000000}
.pastInfo .bot .praise img{margin-right: 8px;}
.pastInfo .bot .follow a{display: inline-block;padding: 4px 25px;background: #ffc641;border-radius: 35px;font-size: 15px;
	color:#231f20;margin-top: 10px;}
.pastInfo .bot .follow a:hover{background: #ffcf5e}

.pastInfo .bot .pastSampleUl{max-width: 170px;margin-left: 15px;font-size: 15px;color: #231f20}
.pastInfo .bot .pastSampleUl li{word-wrap:break-word;word-break:break-all;line-height: 22px;margin-bottom: 13px;}

/*design定制页面*/
.designWrap{width:1150px;margin:0 auto;padding-bottom: 50px;}
.design{margin-top:40px;}
.design .left,.design .center{float: left;}
.design .left .side{width:233px;padding:22px 15px 15px;background: #fff;box-shadow: 0 0 5px #e3e3e3;margin: 5px 14px 5px 5px;}
.design .left .rightCon{width:590px;}

.design .left h2{font-size: 18px;color: #231f20;font-weight: normal}
.design .left .typeChoose{margin:20px 0 18px;overflow:hidden;}
.design .left .typeChoose li{float: left;margin-right:1px;}
.design .left .typeChoose li a{display: inline-block;width: 77px;text-align: center;
	font-size: 14px;color: #231f20;border-radius: 3px;}
.design .left .typeChoose li a p{}
.design .left .typeChoose li a img{display: inline-block;animation:0s;}
.design .left .typeChoose li:last-child{margin-right: 0;}
.design .left .typeChoose li.active p.icon{
	background: #ffa800;
}

.design .left .typeChoose li a p.icon{width: 77px;height: 70px;overflow: hidden;
	background: -o-linear-gradient(#ffc641, #f4ab00); 
    background: -moz-linear-gradient(#ffc641, #f4ab00); 
    background: linear-gradient(#ffc641, #f4ab00); 
}

.design .left .typeChoose li.active img{-webkit-transform:translateY(-70px);-moz-transform:translateY(-70px);transform:translateY(-70px)  }

.design .left .typeChoose li a p.text{background: #999999;height: 29px;border-top: 1px solid #cccccc;margin: 0;line-height: 29px;color: #fff}

.design .left .minSelect{width:233px;margin-bottom:26px;height: 37px;}
.design .left .styled-select select{width:253px;}
.design .left .typeList{margin-top: 17px;overflow:hidden;height:385px;overflow-y: scroll;padding-right:20px;}
.design .left .typeList li{height: 55px;line-height: 55px;cursor: pointer;border-bottom:1px solid #e2e2e2;border-right:1px solid #e2e2e2;}
.design .left .typeList li span{display: inline-block;width:69px;float:left;height:56px;}
.design .left .typeList li p{display: inline-block;width:143px;text-align:center;font-size: 14px;}
.design .left .typeList li p:hover{background: #f7f7f7}
.design .left .typeList li:first-child{border-top:1px solid #e2e2e2;}

.design .left .designModule{overflow: hidden}
.design .left .bot{clear: both;background: #fff;margin-top: 11px;overflow: hidden;padding: 19px 10px;background: #f5f5f5 }
.design .left .designOption .shareBtn{padding-top: 12px;clear: both;}
.design .left .designOption .shareBtn .nextStep{background: #ffc641;border-color: #ffc641; border-radius: 35px;
    color: #2e2e2e;display: inline-block;font-size: 13px;height: 30px;line-height: 30px;padding: 0 15px;text-align: center;}

.design .bot .pullLeft a{display: inline-block;height: 30px;line-height: 30px;text-align: center;border:1px solid #231f20;
	border-radius: 35px;color: #2e2e2e;font-size: 13px;padding: 0 10px}
.design .bot .pullLeft a i{font-size: 17px;vertical-align: middle;}
.design .designOption a:nth-of-type(1),.design .designOption a:nth-of-type(2){color: #ffc641;border-color: #ffc641}
.design .designOption a:nth-of-type(1):hover,.design .designOption a:nth-of-type(2):hover{color: #fff;border-color: #ffc641}


.design .bot .designOption .pullLeft  a:hover{background: #ffc641;border-color: #ffc641}
.design .bot .designOption .share{width: 100%;}
.design .bot .designOption .reverse{background: #ffc641;border-color: #ffc641}
.design .bot .designOption .reverse:hover{background: #ffcf5e;}
.design .bot .shareMore a i{font-size: 24px}
.design .share .shareMore a i.microBlog{font-size: 29px;}
.design .bot .designOption .leftBtn{width: 100%}


.design .topInfo{height:70px;padding: 0 15px;font-size:18px;color:#231f20;line-height: 70px;font-size:18px;color:#231f20;background: #f5f5f5;}
.design .topInfo .change{float:right}
.design .topInfo .change a{color:#4191e3;
}

#uploadWrap{height:590px;background:#d7d6d4;text-align:center;margin-top: 5px;position: relative;overflow: hidden;
	display: table-cell;vertical-align: middle;width: 590px;}
#uploadWrap .modulePic{display:inline-block;}
#uploadWrap #uploadCon{position: absolute;width: 530px;height: 530px;left: 0;top: 0;}
#uploadWrap #watermarkPic{position: absolute;right: 10px;bottom: 10px;}

.design .right{float:right;width:230px;background: #fff;padding:15px 15px 2px;margin: 5px;box-shadow: 0 0 5px #e3e3e3}
.design .right .uploadBtn{width: 230px;height: 51px;background: #ffc641;border-radius: 3px;line-height: 51px;text-align: center;font-size: 18px;
	color: #231f20;position: relative;}
.design .right .uploadBtn input{position: absolute;left: 0;top: 0;cursor: pointer;height: 50px;opacity: 0;filter:alpha(opacity=0);}
.design .right .search{height: 37px;line-height: 37px;border:1px solid #e2e2e2;border-radius: 3px;margin-top: 13px;}
.design .right .search .inp{width: 187px;padding-left: 15px;border:none;}
.design .right .search .sub{cursor: pointer;background: url(../img/searchBg.jpg) no-repeat center center;border:none;
	width: 32px;}
.design .right .sample{margin-top: 12px;overflow: hidden;}
.design .right .sample li{float: left;overflow: hidden;margin-right: 7px;display: inline;margin-bottom: 7px;width: 72px;height: 72px;}
.design .right .sample li:nth-of-type(3n){margin-right: 0}
.design .right .sample li img{position: absolute;}

.design .page{margin-top: 10px;border-bottom: 2px solid #231f20;overflow: hidden;padding-bottom: 10px;}
.design .page .pullLeft{line-height: 34px;}
.design .page span{display: inline-block;width: 34px;height: 34px;border-radius: 3px;background: #e2e2e2;
	text-align: center;line-height: 34px;font-size: 15px;color: #231f20;}
.design .page span.flip{cursor: pointer;}
.design .page span.num{background: #ffc641}

.design .text{margin: 12px 0 15px;position: relative;}
.design .text .topStyle .styled-select{margin-right: 4px;height: 27px;line-height: 27px;}
.design .text .topStyle .styled-select select{line-height: 27px;height: 24px;padding: 0 5px;width: 130px;}
.design .text .topStyle .fontSize select{width: 100px;}
.design .text .topStyle .fontFamily{width: 113px;}
.design .text .topStyle .fontSize{width: 75px;}
.design .text .topStyle .fontColor{display: inline-block;width: 27px;height: 27px;border:1px solid #e2e2e2;border-radius: 3px;}
.design .text .topStyle .fontColor .color{display: inline-block;width: 15px;height: 15px;background: #ffc641;margin: 6px;}

/*.design .text .textZone{width: 100%;padding: 5px;height: 50px;resize:none;border:1px solid #e2e2e2;border-radius: 3px;font-family: "微软雅黑";font-size: 14px;color: #333}
*/
/*.design .text .textSubBtn{display: inline-block;width: 100%;height: 41px;line-height: 41px;text-align: center;background: #ffc641;
	font-size: 16px;color: #1b1b1b;margin-top: 15px;border-radius: 3px;}
.design .text .textSubBtn:hover{background: #ffcf5e}
*/

.design .text .textZone{width: 100%;border:1px solid #dcdcdc;height: 32px;margin-top: 12px;line-height: 32px;}
.design .text .textZone input{height: 32px;width: 170px;float: left;border:none;padding: 0 10px;}
.design .text .textZone .textSubBtn{display: inline-block;width: 60px;height: 32px;text-align: center;float: left;
	color: #333;background: #ffc641;font-size: 14px;}
.design .text .textZone .textSubBtn:hover{background: #ffcf5e}

.design .text .colorPanel{position: absolute;left:-415px;top:-200%;width: 570px;background: #fff;border:1px solid #e5e5e5;
	padding: 20px;background: #f9f9f9;display: none;}
.design .text .colorPanel h3{font-weight: normal;font-size: 18px;border-bottom: 1px solid #e5e5e5;padding-bottom: 20px;}
.design .text .colorPanel ul{padding-top: 20px;overflow: hidden;}
.design .text .colorPanel li{float: left;width:31px;height:31px;border:2px solid #fff;padding:1px;margin-right: 1px;}
.design .text .colorPanel li a{display: inline-block;width: 31px;height: 31px;}
.design .text .colorPanel li.active{border-color: #000}
.design .text .colorPanel .btns{padding-top: 20px;}
.design .text .colorPanel .btns a{display: inline-block;padding: 5px 30px;border-radius: 25px;float: right;color: #333}
.design .text .colorPanel .btns a.sub{background: #ffc641}
.design .text .colorPanel .btns a.sub:hover{background: #ffcf5e}
.design .text .colorPanel .btns a.del{background: #cecdcb;margin-right: 5px;}
.design .text .colorPanel .btns a.del:hover{background: #d8d7d5}

.design .dragCon { border: 1px solid #ffc641; cursor: move; left: 100px; position: absolute; top: 145px; z-index: 9;transition:0s;}
.design .dragCon img{float:left;}
.design .dragDot{position: absolute;width: 6px;height: 6px;border:1px solid #999999;background: #fff;}

.design .dragList1{left: -4px;top: -4px;cursor: nw-resize;}
.design .dragList2{left: 46%;top: -4px;cursor: n-resize;}
.design .dragList3{right: -4px;top: -4px;cursor: sw-resize;}
.design .dragList4{right: -5px;top: 46%;cursor: w-resize;}
.design .dragList5{right: -4px;bottom: -4px;cursor: nw-resize;}
.design .dragList6{left: 46%;bottom: -4px;cursor: n-resize;}
.design .dragList7{left: -4px;bottom: -4px;cursor: sw-resize;}
.design .dragList8{left: -5px;bottom: 46%;cursor: w-resize;}

.design .rotateBtn {background: rgba(0, 0, 0, 0) url("../img/rotate.jpg") no-repeat scroll center center;right: -27px;top: -44px;}
.design .modifyBtn {cursor: default;height: 22px;position: absolute;width: 22px;}
.design .delBtn {background: rgba(0, 0, 0, 0) url("../img/del.jpg") no-repeat scroll center center;right: -27px;top: -22px;}

/*userCenter userInvoice 发票申请*/
.userTit{margin: 56px 0 47px;background: url(../img/titBg.gif) no-repeat center;text-align: center;}
.userTit .titInfo{display: inline-block;padding: 0 30px;background: #fff;font-size: 30px;color: #231f20}
.userTit .titInfo img{vertical-align: middle;margin-right: 25px;margin-top: -5px;}

.userCenter .aside{float:left;padding: 13px 0;margin-bottom: 40px;width: 152px;border:1px solid #eeeeee;}
.userCenter .aside a{display: inline-block;height: 35px;line-height: 35px;margin-top: 13px;padding-left: 60px;color: #231f20;font-size: 14px;
	background: url(../img/userAsideBg.png) no-repeat;background-color:#fff;width: 92px;}
.userCenter .aside li:nth-of-type(1) a{background-position: 24px 0px;}
.userCenter .aside li:nth-of-type(2) a{background-position: 24px -49px;}
.userCenter .aside li:nth-of-type(3) a{background-position: 24px -96px;}
.userCenter .aside li:nth-of-type(4) a{background-position: 24px -145px;}
.userCenter .aside li:nth-of-type(5) a{background-position: 24px -193px;}
.userCenter .aside li:nth-of-type(6) a{background-position: 24px -242px;}
.userCenter .aside li:nth-of-type(7) a{background-position: 24px -290px;}
.userCenter .aside li:nth-of-type(8) a{background-position: 24px -339px;}
.userCenter .aside li:nth-of-type(9) a{background-position: 24px -387px;}
.userCenter .aside li:nth-of-type(10) a{background-position: 24px -432px;}
.userCenter .aside li:nth-of-type(11) a{background-position: 24px -481px;}
.userCenter .aside li:nth-of-type(12) a{background-position: 24px -529px;}
.userCenter .aside li.active a{background-color: #eeeeee}
.userCenter .aside li:hover a{background-color: #eeeeee}

.userCenter .article{margin-left: 179px;border:1px solid #eeeeee;padding: 0 22px 30px;font-size: 14px;color: #231f20;margin-bottom: 40px;}
.userCenter .article h1{padding: 17px 0 20px;border-bottom: 1px solid #eeeeee;margin-bottom: 25px;}
.userCenter .article h1 span{border-left:4px solid #ffc641;font-size: 14px;color: #231f20;font-weight: normal;padding-left: 14px;display: inline-block;}

.userCenter .article .topModule{background: #f6f6f6;padding: 40px 0;text-align: center;overflow: hidden;
	font-size: 15px;color: #231f20}
.userCenter .article .topModule li{float: left;border-right: 1px solid #e0e0e0;height: 66px;}
.userCenter .article .topModule li:last-child{border-right: 0;}
.userCenter .article .topModule .col-3{width: 33%;}
.userCenter .article .topModule .col-6{width: 66%;}
.userCenter .article .topModule .accountCenter{text-align: left;padding-left: 8%;width: 25%}
.userCenter .article .topModule .accountCenter p{line-height: 26px;}
.userCenter .article .topModule .colorStyle{font-size: 35px;color: #4191e3;margin-top: 3px;}
.userCenter .article .topModule .lineUnder{line-height: 66px;}
.userCenter .article .topModule .lineUnder a{color: #4191e3;text-decoration: underline;}
.userCenter .article .topModule .getInvoice{display: inline-block;width: 128px;height: 39px;line-height: 39px;background: #ffc641;
	border-radius: 3px;color: #231f20;margin-top: 12px;}

.userCenter .tableCon{margin-top: 25px;}
.userCenter .tableCon .tableTit{font-size: 14px;color: #231f20;font-weight: normal;margin-bottom: 15px;}
.userCenter .tableCon .colorSet{font-size: 12px;color: #4191e3;font-weight: normal;}

.examineSuccess{color: #1ab394}  /*审核完成*/
.examineIng{color: #faaf40}      /*审核中*/
.examineError{color: #ed5565}      /*审核失败*/

.userCenter .tableCon table{width: 100%;font-size: 13px;color: #333333;border:1px solid #eee;}
.userCenter .tableCon table thead th{text-align: left;font-weight: normal;height: 44px;background: #eeeeee;padding-left: 23px;}
.userCenter .tableCon table tr td{padding-left: 23px;line-height: 45px;border-bottom: 1px solid #eeeeee}
.userCenter .tableCon table tr:last-child td{border-bottom: 0}

/*userCenter userIntergral 我的积分*/
.userCenter .topModule .intergralQues{text-align: left;line-height: 28px;}
.userCenter .topModule .intergralQues a{color: #4191e3;padding-left: 80px;}

.subSymbol{color: #f4a6ad;line-height: 43px;vertical-align: top;margin-right: 1px;}   /*subtract*/
.addSymbol{color: #1ab394;line-height: 43px;vertical-align: top;margin-right: 1px;}   /*add*/

.integralBuy{color: #4191e3}    /*购买获得*/
.integralLogin{color: #1ab394}    /*登录获得*/
.integralShare{color: #23c6c8}    /*分享获得*/

/*userCenter userCommission 我的佣金*/
.userCenter .article  .minTopModule{padding: 12px 0 12px 40px;text-align: left;}
.userCenter .article  .minTopModule .price{font-size: 35px;color: #4191e3}
.userCenter .article .handle{color: #4191e3}
.userCenter .article .handle a{color: #4191e3}
.addrForm{overflow: hidden;}
.addrForm .maxText{width: 576px;resize:none;padding: 5px;border:1px solid #e1e1e1;border-radius: 3px;height: 70px;
	vertical-align: middle;}
.addrForm .addrInp{margin-top: 10px;}
.addrForm .addrInp .inp{width: 282px;padding: 5px;margin-right: 10px;border:1px solid #e1e1e1;border-radius: 3px;height: 40px;}

.subBtn{background: #ffc641;cursor: pointer;padding: 8px 10px;min-width: 92px;border:none;border-radius: 3px;color: #231f20;
	font-size: 12px;margin-top: 17px;}

/*userCenter userAccountSafe 账号安全*/
.userCenter .article .formLine{margin-bottom: 15px;}
.userCenter .article .formLine .tit{display: inline-block;width: 85px;text-align: right;}
.userCenter .article .formLine .inp{width: 260px;padding: 5px 10px;height: 40px;border:1px solid #e1e1e1;border-radius: 3px;}
.userCenter .article .formLine .subBtn{margin-left: 85px;}

/*userCenter userAccount  我的账号*/
.cashSuccess{color: #1ab394;}  /*提现成功*/
.cashError{color: #ed5565;}  /*提现失败*/

/*userCenter userCollect  我的收藏*/
.userCenter .article .collectLine{overflow: hidden;height: 97px;padding-bottom: 27px;border-bottom: 1px solid #e1e1e1;margin-bottom: 27px;}
.userCenter .article .collectLine .text{margin-left: 30px;}
.userCenter .article .collectLine .text p{margin-bottom: 15px;color: #686868;font-size: 12px;}
.userCenter .article .collectLine a{display: inline-block;width: 91px;height: 32px;line-height: 32px;text-align: center;color: #231f20;font-size: 14px;
	background: #ffc641;border-radius: 25px;border:1px solid #ffc641;margin-bottom: 12px;}
.userCenter .article .collectLine a.delBtn{background: #fff;border-color: #000}


/*userCenter userPageSet  主页设置*/
.userCenter .usePageSet .styled-select{width: 260px;}
.userCenter .usePageSet .styled-select select{width: 280px;}
.userCenter .usePageSet .maxText{width: 543px;padding: 10px;resize:none;border:1px solid #e1e1e1;}
.userCenter .article .uploadHeadPic{overflow: hidden;margin-bottom: 30px;margin-left: 15px;}
.userCenter .article .uploadBtn{position: relative;margin-left: 30px;}
.userCenter .article .uploadBtn input{position: absolute;z-index: 9;cursor: pointer;opacity: 0;filter:alpha(opacity=0);
	top:25px;}
.userCenter .article .uploadBtn span{position: absolute;display: inline-block;width: 93px;height: 32px;line-height: 32px;
	text-align: center;color: #4191e3;font-size: 12px;border:1px solid #4191e3;border-radius: 3px;cursor: pointer;z-index: 1;top:25px;}
.userCenter .formLine .changeTheme input,.userCenter .formLine .changeTheme span{top: -18px}
.userCenter .article .changeTheme{margin-left: 0}
.userCenter .article  .uploadText{margin-left: 100px;color: #666666}
.userCenter .article #themePic{margin-top: 15px;display: inline-block;width: 513px;height: 94px;border:3px solid #faaf40;}

/*help 帮助中心*/
.helpCenter .aside{float: left;width: 153px;margin: 5px;background: #fafafa;box-shadow: 0 0 5px #eae9ea;margin-bottom: 30px;}
.helpCenter .article{margin:10px 5px 5px 175px;box-shadow: 0 0 5px #f0f0f0;border:1px solid #f0f0f0;padding: 15px 30px;margin-bottom: 30px;}

.helpCenter .aside a{display: inline-block;width: 100px;border-left: 3px solid #fafafa;padding-left: 50px;height: 73px;line-height: 73px
	;background: url(../img/helpAslideBg.png) no-repeat left top;font-size: 14px;color: #231f20;border-bottom: 1px solid #f1f1f1}
.helpCenter .aside li.active a{border-left: 3px solid #ffc641;background-color: #f1f1f1}
.helpCenter .aside li:nth-of-type(1) a{background-position: 20px 0}
.helpCenter .aside li:nth-of-type(2) a{background-position: 20px -73px}
.helpCenter .aside li:nth-of-type(3) a{background-position: 20px -146px}
.helpCenter .aside li:nth-of-type(4) a{background-position: 20px -219px}


.helpCenter .article .infoLine{margin-bottom: 30px;overflow: hidden;font-size: 13px;color: #666666;}
.helpCenter .article .infoLine h3{font-size: 13px;color: #231f20;font-weight: normal;margin-bottom: 10px;}
.helpCenter .article .infoLine .qIcon{display: inline-block;width: 30px;color: #ffc641}


.helpCenter .article .infoLine .aIcon{display: inline-block;float: left;width: 30px;margin-top: 8px}
.helpCenter .article .infoLine .answerDetail{float: left;max-width: 670px}
.helpCenter .article .infoLine li{line-height: 30px;}

/*newsCenter 消息中心*/
.helpCenter .newsAside li a{background: url(../img/msgAsideBg.png) no-repeat left top;}
.helpCenter .newsAside li:nth-of-type(1) a{background-position: 20px 0}
.helpCenter .newsAside li:nth-of-type(2) a{background-position: 20px -73px}
.helpCenter .newsAside li:nth-of-type(3) a{background-position: 20px -146px}
.helpCenter .newsAside li:nth-of-type(4) a{background-position: 20px -219px}
.helpCenter .newsAside li:nth-of-type(5) a{background-position: 20px -292px}

.newsTitTog{border-bottom: 2px solid #231f20}
.newsTitTog a{height: 50px;line-height: 50px;padding: 0 27px;display: inline-block;margin-bottom: -1px;
	font-size: 14px;color: #231f20}
.newsTitTog a.active{border-bottom: 3px solid #ffc641;}

.helpCenter .helpCon li{padding: 24px 0;border-bottom: 1px solid #e9eaec}
.helpCenter .helpCon li:last-child{border:none;}
.helpCenter .helpCon li h2{font-size: 13px;color: #231f20;line-height: 30px;}
.helpCenter .helpCon li p{padding-left: 28px;font-size: 13px;color: #656363;line-height: 26px;}
.helpCenter .helpCon .email{display: inline-block;display: inline-block;margin-right: 10px;font-size: 17px;color: #8b8b8b;font-weight: normal;}
.helpCenter .helpCon .moreIcon{transition:0.3s;-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);transform:rotate(180deg);
	cursor: pointer;
	-webkit-user-select:none;
	-moz-user-select:none;
	user-select:none;}

/*endofact 活动结束*/
.wroksTit{font-size: 18px;color: #000000;padding-top: 20px;height: 50px;line-height: 50px;border-bottom: 2px solid #231f20}
.wroksTit .moreWork{color: #000000;display: inline-block;background: #ffc641;height: 35px;line-height: 35px;padding: 0px 18px;
	border-radius: 25px;}
.endofact{font-size: 14px;padding-bottom: 50px;overflow: hidden;}
.endofact .search {margin-top: 20px;}
.endofact .search .text{margin-top: 7px;margin-right: 20px;}
.endofact ul{clear: both;}
.endofact ul li{float: left;margin-right: 15px;margin-top: 20px;}
.endofact ul li a{color: #231f20}
.endofact ul li:nth-of-type(4n){margin-right: 0;}
.endofact ul li .title{margin-top: 10px;line-height: 22px;}
.endofact ul li .name{color: #666464}
.endofact ul li .name a{color: #4191e3}

/*order我的订单*/
.myOrder {}
.myOrder .search{overflow: hidden;margin: 23px 0 40px}
.myOrder .search .searchBtn{width: 73px;height: 31px;border:1px solid #d7d7d7;border-radius: 3px;cursor: pointer;}
.myOrder .searchNum{width: 350px;height: 31px;list-style-position: 31px;border:1px solid #d7d7d7;border-radius: 3px;
	display: inline-block;margin-left: 10px;margin-top: -34px;}
.myOrder .searchNum .inp{width: 310px;float: left;border:none;height: 31px;padding: 0 10px}
.myOrder .searchNum .sub{width: 40px;background: url(../img/searchBg.jpg) no-repeat center center;height: 31px;border:none;
	cursor: pointer;}

.myOrder .orderList{padding-bottom: 30px;}
.myOrder .orderList table{width: 100%;}
.myOrder .orderList .top{padding: 25px 0 20px;font-size: 14px;}
.myOrder .orderList .top .orderNo{display: inline-block;line-height: 35px;color: #231f20;padding: 0 15px;border:2px solid #231f20;border-radius: 25px;}
.myOrder .orderList .top .time{display: inline-block;line-height: 35px;color: #fff;padding: 0 15px;border-radius: 25px;background: #ffc641}

.myOrder .orderList li:hover{background: #fcfcfc}
.myOrder .orderList table thead{line-height: 62px;font-size: 14px;color: #000000;font-weight: normal;}
.myOrder .orderList thead th{border-top: 1px solid #e9eaec;border-bottom: 1px solid #e9eaec;text-align: left;padding-left: 15px;}
.myOrder .orderList thead th:last-child{text-align: right;padding-right: 15px;}
.myOrder .orderList table .orderImg img{float: left;}
.myOrder .orderList table .orderImg p{margin-left: 110px;}
.myOrder .orderList table p{margin-right: 8px;margin-bottom: 15px;font-size: 12px;color: #686868}
.myOrder .orderList table tr td{padding: 20px 0;overflow: hidden;border-bottom: 2px solid #e9eaec}

.myOrder .orderList table .orderBtn{display: inline-block;line-height: 25px;border:1px solid #d7d7d7;border-radius: 3px;
	padding: 0 20px;float: right;margin-bottom: 15px;clear: both;}
.myOrder .orderList table .noPay{color: #5c5c5c;border-color: #d7d7d7}
.myOrder .orderList table .checkDetails{color: #2887e1;border-color:#2887e1;padding: 0 14px;}
.myOrder .orderList table .waitingPay{color: #ee514c;border-color:#ee514c;padding: 0 20px;}
.myOrder .orderList table .madeToOrder{color: #18a689;border-color:#18a689;padding: 0 14px;}
.myOrder .orderList table .goPay{color: #ffc641;border-color:#ffc641;padding: 0 14px;}


/*orderDetails 订单详情*/
.orderDetails .orderList{margin-top: -40px}
.orderDetails .orderList tfoot .total{text-align: right;}
.orderDetails .orderList tfoot .total .num{font-size: 35px;color: #ffc641}

/*payConfirm 付款确认页*/
.mailTit{font-size: 18px;color: #231f20;line-height: 50px;}
.payConfirm .mailInfo .details{padding: 15px 0;border-top: 1px solid #e9eaec;border-bottom: 2px solid #231f20}
.payConfirm .mailInfo .details p{line-height: 50px;font-size: 15px;}
.payConfirm .payWay .way, .payConfirm .payWay .total{float: left;width: 458px;height: 215px;border:1px solid #e9eaec;text-align: center;}
.payConfirm .payWay .way{margin-right: 28px;padding-top: 50px;height: 165px;}
.payConfirm .payWay .way p{margin-top: 10px;}
.payConfirm .payWay .total{font-size: 80px;color: #ffc641;line-height: 230px;}
.payBtn a{display: inline-block;float: right;background: #ffc641;font-size: 15px;color: #231f20;
	line-height: 45px;padding: 0 58px;border-radius: 3px;margin: 30px 0}

.payConfirm .userTit{margin-bottom: 10px;}

/*shoppingCart 购物车*/
.myOrder .orderList .userName{color: #2887e1}
.myOrder .orderList .del{color: #ffc641;float: right;margin-right: 15px;}

.numDeal{display: inline-block;width: 24px;height: 19px;line-height: 19px;text-align: center;border:2px solid #231f20;font-weight: bold;
	color: #231f20;float: left;margin-right: 5px;}
.numDeal:hover,.numDeal:focus{border:2px solid #231f20!important;}
.cartInp{height: 23px;width: 40px;font-weight: normal;}

.shoppingCart .orderList table tr td{border-bottom: 2px solid #231f20}

.payCondition .integral,.payCondition .price{float: left;width: 458px;height: 214px;border:2px solid #e9eaec;}
.payCondition .integral{margin-right: 24px;padding-left: 90px;width: 368px;padding-top: 17px;height: 197px;}
.payCondition .integral .minSelect{width: 250px;}
.payCondition .integral select{width: 270px}
.payCondition div{margin-top: 15px;font-size: 14px;color: #000000}
.payCondition div .styled-select {margin: 0}

.payCondition .price{padding: 17px 33px;width: 392px;height: 180px;}
.payCondition .price .total{font-size: 18px;border-top: 2px solid #e9eaec;padding-top: 20px;}
.payCondition .price .total .totalNum{float: right;font-size: 30px;color: #ffc641}
.payCondition .price div{margin-bottom: 24px;}

.shoppingCart .nextBtn a{display: inline-block;width: 183px;height: 45px;line-height: 45px;text-align: center;color: #231f20;
	font-size: 15px;float: right;background: #ffc641;border-radius: 3px;margin-top: 25px;margin-bottom: 30px;}


/*payment 付款页*/
.payment .left{width: 594px;}
.payment .right{margin-top: 81px;}
.payment .userTit{margin-bottom: 20px;}

.payment .userAddr{border:2px solid #e9eaec;padding: 0 30px;position: relative;margin-bottom: 18px;cursor: pointer;overflow: hidden;}
.payment .userAddr .nameTop{height: 66px;line-height: 66px;font-size: 12px;color: #666464;border-bottom: 1px solid #e9eaec}
.payment .userAddr .nameTop .name{font-size: 18px;color: #333333;margin-right: 12px;font-weight: 600}
.payment .userAddr .nameTop .handle{float: right;}
.payment .userAddr .nameTop .handle a{display: inline-block;width: 50px;height: 21px;line-height: 22px;
	text-align: center;color: #ffc641;border:1px solid #ffc641;border-radius: 3px;margin-left: 12px;}
.payment .userAddr .nameTop .handle .modify{color: #4191e3;border-color: #4191e3}

.payment .userAddr .tel{height: 66px;line-height: 66px;font-size: 18px;color: #333333;border-bottom: 1px solid #e9eaec}
.payment .userAddr .tel .zipCode{float: right;font-size: 14px;}
.payment .userAddr .addr{height: 66px;line-height: 66px;font-size: 14px;color: #6e6e6e}

.userAddrCon .active{border-color: #ffc641}
.payment .userAddr .check{position: absolute;right: -41px;bottom: -41px;width: 80px;height: 80px;background: #ffc641;border-radius: 85%;}
.payment .userAddr .check i{position: absolute;left: 17px;top: 15px;color: #241c09;font-size: 16px;}

.addAddr{height: 65px;line-height: 65px;text-align: center;border:2px dashed #e9eaec;font-size: 18px;cursor: pointer;margin-bottom: 15px;
	-webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;}
.addAddr .icon{font-size: 24px;color: #d7d7d7;margin-right: 10px;margin-top: 5px;vertical-align: middle;}

.payment .textarea{width: 594px;height: 100px;padding: 5px 10px;resize:none;border:1px solid #d7d7d7;border-radius: 3px;}
.payment .payWay{border:2px solid #e9eaec;text-align: center;padding: 50px 0}
.payment .payWay img{display: inline-block;}

.payment .mailTit .total{font-size: 30px;color: #ffc641}
.payment .mailBorder{border-bottom: 2px solid #231f20;margin-bottom: 20px;margin-top: 5px;}
.payment .payBtn a{margin-top: 10px;}

.payment .right .edit a{color: #4191e3}

.userAddr .userInfo{font-size: 12px;color: #666464;border-bottom: 1px solid #e9eaec;overflow: hidden;}
.userAddr .userInfo .pic img{width: 60px;height: 60px;margin-right: 12px;}
.userAddr .userInfo{padding: 15px 0}
.userAddr .userText{width: 130px;}
.userAddr .userText .name{color: #2887e1}
.userAddr .userText p{margin-bottom: 12px;margin-top: 3px;}
.userAddr .userInfo .price{font-size: 14px;}

.userAddr .priceDetails{overflow: hidden;clear: both;font-size: 12px;color: #231f20;padding-top:10px;border-bottom: 1px solid #e9eaec;}
.userAddr .priceDetails .pullRight{font-size: 14px;color: #666464}
.userAddr .priceDetails p{clear: both;margin-bottom: 10px;}
.userAddr .total{padding: 15px 0;font-size: 16px;overflow: hidden;}
.userAddr .total .btn{display: inline-block;line-height: 31px;padding: 0 12px;background: #ffc641;border-radius: 3px;float: right;}

.payment .addrForm{display: none;}
.payment .maxSelect{width: 592px;}
.payment .maxSelect select{width: 610px;}
.payment .maxSelect{background-position: 98% center}
.payment .minSelect{width: 186px;}
.payment .maxText{width: 594px;}
.payment .addrInp .inp{width: 290px;}


/*refund 退款*/
.refundReason{padding: 20px 0;border-bottom: 1px solid #e9eaec}
.refundAddr{padding-top: 30px;}
.refundAddr p{margin-bottom: 30px;}
.refundAddr .retundTips{text-align: center;padding: 26px 0;line-height: 22px;border:2px solid #e9eaec;}
.refundAddr .retundTips span{color: #ff0000}
.refund .mailInfo .details{border-bottom: 1px solid #e9eaec}


/*购买入口 buyEntrance*/
.entranceCon{padding-top: 15px;padding-bottom: 30px;overflow: hidden;}
.entranceCon .module{margin-top: 15px;position: relative;}
.entranceCon .ornaments,.entranceCon .furnishing{float:left;}
.entranceCon .ornaments{margin-right: 20px}
.entranceCon .module span{position: absolute;font-size: 35px;color: #ffffff}
.entranceCon .module a{display: inline-block;}

.entranceCon .men span{left: 257px;top: 146px;}
.entranceCon .women span{left: 670px;top: 130px;}
.entranceCon .children span{left: 100px;top: 120px;}
.entranceCon .ornaments span,.entranceCon .furnishing span{left: 43%;top: 45%}

.entranceCon .topRanking{padding-bottom: 15px;border-bottom: 1px solid #e9e9e9;overflow: hidden;}
.entranceCon .topRanking a{display: inline-block;font-size: 15px;color: #231f20;line-height: 35px;text-align: center;padding: 0 22px;
	border:1px dashed #dadadb;margin-right: 5px;border-radius: 3px;}
.entranceCon .topRanking a .icon{margin-right: 6px;font-size: 18px;}
.entranceCon .topRanking .left a.active{background: #f4f4f4}
.entranceCon .topRanking .right a.active{background: #f4be3f}

.entranceCon .aside{width: 150px;background: #f2f2f2;text-align: center;font-size: 14px;color: #231f20;padding-bottom: 10px;
	float: left;}
.entranceCon .botFilter{padding-top: 20px;}
.entranceCon .aside dl{}
.entranceCon .aside dl dt span{font-size: 18px;border-top: 2px solid #dadadb;line-height: 57px;display: inline-block;}
.entranceCon .aside .filterDl dd a{color: #615f60;height: 26px;margin-bottom: 10px;display: inline-block;padding: 0 40px;line-height: 26px;
	border-radius: 3px;}
.entranceCon .aside .filterDl dd a:hover{color: #ffba00}
.entranceCon .aside .filterDl dd.active a{color: #000000;background: #ffba00;}
.entranceCon .aside .color{margin-bottom: 15px;}
.entranceCon .aside .color dd{width: 37px;margin-left: 54px;}
.entranceCon .aside .color dd img{display: inline-block;}

.entranceCon .botFilter .searchResult{margin-left: 174px}
.entranceCon .botFilter .searchResult li{width: 194px;overflow: hidden;font-size: 14px;}
.botFilter .searchResult a .name{color: #231f20;height: 45px;overflow: hidden;}
.botFilter .searchResult .author a{color: #666464;display: inline-block;margin-bottom: 5px;}
.botFilter .searchResult .price{color: #ffba00;}
.botFilter .searchResult .price .oldPrice{color: #231f20;text-decoration: line-through;margin-right: 5px;}
.botFilter .searchResult img:hover{opacity: 0.8;filter:alpha(opacity=80);}
.botFilter .searchResult li{float: left;margin-bottom: 30px;}

/*buyentrance4 商品详情*/
.productTogHead a{display: inline-block;line-height: 36px;padding: 0 36px;background: #f2f2f2;border: 2px dashed #ddddde;
	color: #000000;border-radius: 3px;margin-right: 10px;font-size: 14px;}
.productTogHead a.active{background: #ffba00;border-color: #ffba00}

.productCon{margin-top: 15px;}
.productCon .leftPic ul{margin-top: 10px;}
.productCon .leftPic ul li{float: left;width: 45px;height: 45px;border:3px solid #fff;margin-right: 5px;}
.productCon .leftPic ul li.active{border-color: #ffc641}
.productCon .leftPic ul li img{width: 45px;height: 45px;}

.share{clear: both;padding-top: 0px;font-size: 14px;color: #585858;}
.share .collect{display: inline-block;margin-right: 77px;}
.share .collect i{color: #666}
.share i{font-size: 24px;vertical-align: middle;margin-right: 5px;}
.share .shareMore a i{font-size: 32px;}
.share .shareMore a i.wechart{color: #1dc27e}
.share .shareMore a i.microBlog{font-size: 37px;color: #f5451c}
.share .shareMore a i.facebook{color: #3b5998}
.share .shareMore a i.twitter{color: #00aced}

.productCon{margin-bottom: 15px;overflow: hidden;}
.productCon .rightInfo{width: 340px;font-size: 15px;}
.productCon .rightInfo .tit{font-size: 15px;color: #444444;height: 53px;border-top: 2px solid #ffc641;border-bottom: 1px solid #ddddde;
	line-height: 53px;font-weight: normal;cursor: pointer;
	-webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    }
.productCon .rightInfo .tit .price{font-size: 18px;color: #ffba00;margin-left: 20px;}
.productCon .rightInfo .tit i{color: #999;transition:500ms}
.productCon .rightInfo .sizeInfo h3{line-height: 50px;font-size: 15px;color: #2887e1;font-weight: normal;}
.rightInfo .worksType{margin-bottom: 10px;}
.productCon .size a{display: inline-block;width: 44px;height: 44px;line-height: 44px;text-align: center;
	color: #231f20;background: #f2f2f2;border:1px dotted #dfdfdf;margin-right: 8px;}
.productCon .size a.active{background: #ffc641;}

.priNum{margin: 15px 15px 0 15px;color: #231f20;font-size: 13px;}
.priNum .num{display: inline-block;margin-left: 15px;border:1px solid #e0e0e0;width: 103px;height: 24px;vertical-align: middle;}
.priNum .num a{display: inline-block;width: 25px;background: #ededed;height: 24px;float: left;text-align: center;
	line-height: 24px;color: #231f20;font-size: 16px;}
.priNum .num .inp{width: 53px;float: left;height: 24px;border:none;background: #fff;text-align: center;}

.priNum .putCart{display: inline-block;width: 340px;height: 52px;line-height: 52px;text-align: center;font-size: 14px;
	color: #000;background: #ffc641;border-radius: 3px;border:none;cursor: pointer;margin-top: 15px;}

.productDetails .authorModule{padding: 25px 0;border-top: 2px solid #231f20;border-bottom: 2px solid #231f20;clear: both;
	overflow: hidden;font-size: 14px;}
.authorModule p{margin-bottom: 10px;}
.authorModule .author{width: 350px;}
.authorModule .work{width: 300px;}
.authorModule .theme{width: 300px;}

.authorModule .authorInfo{max-width: 200px;margin-left: 15px;}
.authorModule a{color: #2887e2}
.authorModule .follow a{display: inline-block;line-height: 22px;border:1px solid #ffbf24;border-radius: 25px;
	padding: 0 10px;color: #ffbf24}
.authorModule .website a{word-break:break-all;word-wrap:break-word;}

.authorModule img{width: 120px;height: 120px;}

.designStory{padding: 25px 0;border-bottom: 2px solid #231f20;}
.designStory h2{font-size: 18px;font-weight: normal;margin-bottom: 10px;}
.designStory p{font-size: 14px;color: #666464;line-height: 20px;margin-bottom: 10px;}
.designStory img{display: inline-block;margin-bottom: 10px;}

.comment{font-size: 14px;}
.comment ul li{padding: 30px 0;border-bottom: 1px solid #eaeaea;overflow: hidden;}
.comment .commentTog{padding: 25px 0 22px;border-bottom: 2px solid #231f20}
.comment .commentTog a{display: inline-block;line-height: 35px;font-size: 18px;color: #000;padding: 0 17px;
	background: #f2f2f2;border-radius: 25px;margin-right: 10px;min-width: 74px;text-align: center;}
.comment .commentTog a.active{background: #ffc641}
.comment .commentInfo{max-width: 730px;margin-left: 15px;color: #585858;}
.comment .commentInfo .name{color: #000000}
.comment .commentInfo p{line-height: 28px;}
.comment .commentInfo p a{color: #2887e1;margin: 0 3px;}
.comment .preComment a{color: #68a3e8}
.comment .time{color: #848484}

.comment .prizeBefore{text-align: center;margin-top: 5px;}
.comment .prizeBefore img{display: inline-block;}

.iComment h4{line-height: 70px;border-bottom: 2px solid #e9eaec;font-weight: normal;font-size: 18px;margin-top: 15px;
	margin-bottom: 40px;}
.iComment .iComment{margin-right: 15px;}
.iComment .commentArea .iName a{font-size: 20px;color: #2887e1;margin-bottom: 15px;display: inline-block;}
.iComment .commentArea textarea{width: 824px;height: 90px;padding: 10px;border:1px solid #e9eaec;
	border-radius: 3px;resize:none;}
.commentBtn a{display: inline-block;font-size: 15px;color: #000;padding: 0 36px;line-height: 36px;background: #ffc641;
	border-radius: 25px;float: right;margin: 25px 0}

/*works挑赞作品页*/
.works{padding-bottom: 30px;}
.works .wroksTit{padding-bottom: 15px;}
.works .endOfActBtn{background: #231f20;border:1px solid #231f20;color: #fff}
.worksModule{padding: 20px 0 20px 20px;box-shadow: 0 0 5px #ccc;margin-top: 25px;overflow: hidden;}
.worksModule .aside{width: 105px;margin-right: 15px;}
.worksModule .aside .headPic{width: 105px;height: 105px;}
.worksModule .aside,.worksModule .themeWorks,.worksModule .data{float: left;}
.worksModule .aside a,.worksModule .aside .colorSet{color: #2887e1}
.worksModule dl dd{padding: 10px 0;font-size: 14px;color: #231f20;border-bottom: 1px solid #ebebeb}
.worksModule .aside dl dd p{margin-top: 5px;}
.worksModule .aside img{vertical-align: middle;}

.worksModule .themeWorks img{width: 670px;height: 670px;}
.worksModule .data{text-align: center;width: 140px;}
.worksModule .dataNum{font-size: 35px;}
.worksModule .dataText{font-size: 14px;margin-top: -5px;}
.worksModule .data ul li a{display: inline-block;width: 49px;height: 54px;background: #2887e1;border-radius: 3px;
	color: #fff;font-size: 30px;line-height: 54px;margin-bottom: 10px;}

.worksModule h2{font-size: 18px;font-weight: normal;padding: 24px 0 12px 120px;clear: both;}
.worksModule h2 a{font-size: 14px;color: #2887e1;margin-left: 20px;display: inline-block;}
.worksModule .buyBtn{display: inline-block;line-height: 37px;text-align: center;font-size: 14px;
	color: #000;background: #ffc641;border-radius: 3px;padding: 0 33px;margin-top: 8px;}

.themeBtn a{display: inline-block;line-height: 32px;padding: 0 30px;background: #ffc641;border-radius: 30px;
	font-size: 14px;color: #000!important;margin-top: 25px;}

/*worksDetail 作品详情*/
.worksDetail{padding-bottom: 15px;overflow: hidden;}
.works .contributeTit{border:none;margin-bottom: -8px}
.worksDetail .worksModule{box-shadow: none;padding: 0}
.worksDetail .worksModule .themeWorks img{width: 813px;height: 745px;}
.worksDetail .worksModule .data{background: #f6f6f6;width: 134px;}
.worksDetail .worksModule .data ul li a{margin-bottom: 16px;}

.worksDetail .worksModule .bot .leftText{float: left;border-right: 1px solid #e4e4e4;width: 630px;padding-right: 75px;margin: 30px 0;
	}
.worksDetail .worksModule .leftText h3{font-size: 18px;color: #000000;font-weight: normal;margin-bottom: 12px;}
.worksDetail .worksModule .leftText h1{font-size: 24px;color: #000000;font-weight: normal;margin-bottom: 12px;}
.worksDetail .worksModule .leftText p{font-size: 14px;color: #585858;line-height: 20px;}

.worksDetail .worksModule .bot .rightShare{float: left;padding-left: 30px;padding-top: 15px;}

.worksDetail .botComment .comment{float: left;width: 650px;}
.worksDetail .comment .commentInfo{max-width: 544px;}
.worksDetail .botComment h2{font-size: 18px;color: #000;margin-bottom: 20px;font-weight: normal;}
.recommendWorks li{float: left;margin-left: 23px;margin-bottom: 15px;}
.rightRecommend h2{padding-left: 23px;}
.rightRecommend{float: left;width: 300px;}

/*workRejected 落选作品*/
.workRejected .worksModule .themeWorks img{width: 750px;height: 745px;}
.workRejected .worksModule .data{width: 200px;height: 745px;}
.workRejected .worksModule .dataNum{font-size: 50px;}
.workRejected .worksModule .dataText{font-size: 18px;}
.workRejected .worksModule dl dd{padding: 30px 0;border-bottom: 2px solid #fff}
.worksModule dl dd:last-child{border:none;}
.workRejected .share p{text-align: left;margin-bottom: 8px;}
.workRejected .share{padding: 20px 32px 0 57px;width: 125px;text-align: left;}
.workRejected .share .shareMore a i{font-size: 40px;}
.workRejected .share .shareMore a i.microBlog{font-size: 45px;}
.workRejected .worksModule .bot .leftText{border:none;width: auto;}

.worksDetail dl dd{padding: 15px 0;}

/*designer 设计师主页*/
.designerShow{margin: 34px 0 15px;}
.designer .aside{background: #dddddd;width: 100px;padding: 30px;font-size: 14px;float: left;}
.designer .aside a{color: #2887e1}
.designer .aside dd{line-height: 40px;}
.designer .aside .headPic{width: 100px;}
.designer .aside .colorSet{color: #2887e1}

.countBtn span{border-radius: 30px;color: #fff!important;display: inline-block;font-size: 14px;line-height: 32px;
	margin-top: 25px;padding: 0 30px;border:1px solid #fff;}
.countInfo p{margin-top: 20px;white-space: nowrap;text-overflow:ellipsis;overflow: hidden;}

.designer .article{margin-left: 185px;padding-bottom: 30px;}
.designer .article .designerTog{height: 49px;line-height: 47px;border-bottom: 2px solid #231f20}
.designer .article .designerTog a{display: inline-block;padding: 0 30px;border-bottom: 3px solid transparent;
	color: #231f20;font-size: 14px;}
.designer .article .designerTog a.active{border-color: #faaf40}
.designer .article .type{height: 50px;line-height: 50px;border-bottom: 1px solid #e9e8e8;font-size: 14px;color: #231f20}
.designer .article .type span{display: inline-block;padding: 0 30px;}

.designerWork li{float: left;width: 375px;margin-right: 15px;margin-bottom: 20px;}
.designerWork li:nth-of-type(2n){margin-right: 0}
.designerWork li .tit{padding: 0 20px;white-space: nowrap;overflow: hidden;text-overflow:ellipsis;background: #f6f6f6;
	color: #231f20;font-size: 14px;line-height: 60px;clear: both;}
.designerWork li img{float: left;}

.designer .comment .commentInfo{max-width: 640px}

.fansTog a{border:2px solid #e9e8e8;background: #fff;}
.fansTog a.active{background: #ffc641;border-color: #ffc641}

.fansList li{width: 98px;border:1px solid #e7e7e7;padding: 10px 0 5px 15px;margin-top: 15px;float: left;margin-right: 15px;}
.fansList li .fansName{color: #555a64;font-size: 13px;white-space: nowrap;overflow: hidden;text-overflow:ellipsis;}
.fansList li .follow a{color: #2887e1;font-size: 15px;margin-top: 4px;display: inline-block;}
.fansList li .follow a i{font-size: 20px;vertical-align: middle;}
.fansList li:nth-of-type(6n){margin-right: 0}

/*themeList 主题列表*/
.themeShow{position: relative;margin-top: 30px;}
.themeShow .themeShowPic{position: relative;}
.themeShow a{display: inline-block;padding: 0 35px;line-height: 40px;border:2px solid #231f20;font-size: 18px;color: #231f20;
	position: absolute;top: 40px;right: 15px;border-radius: 35px;}
.themeShow a.contributeBtn{top: 108px;background: #ffc641;border-color: #ffc641}




































